body {
	padding-top: 60px;
	background-color: #F6F6F6;
	color: #555;
	margin-left: -20px;
}

.navbar {
	border: 0;
	background-color: #2494F2;
	color: #FFF;
	padding-left: 10px;
	padding-right: 25px;
}

.navbar li a:hover {
  background-color: #36a3ff;
  color: #fff;
}

.navbar li a {
	color: #fff;
	font-size: 14px;
}

.navbar-brand {
	color: #FFF;
	font-size: 18px;
}

.block-flat {
  margin-bottom: 40px;
  padding: 20px 20px;
  background: #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
}

.table>tbody>tr>td {
  border: 0;
}

.table>tbody>tr:nth-child(2n) {
  background: #f8f8f8;
}

th {
	font-weight: normal;
	font-size: 14px;
}

.poll-btn {
    margin-top: 2%;
    margin-right: 2%;
}