body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding-top: 60px;
	background-color: #E7D0A6;
	color: #000;
}

.navbar {
	background-color: #7F635F;
	border-color: #7F635F;
	color: #000000;
}

.navbar li a {
	color: #DDD;
}

.navbar li a:hover {
	color: #222;
	background-color: #CCC7BD;
}

.active {
    text-decoration: underline;
}

.navbar-brand {
	color: #DDD;
}

.navbar-brand:hover {
	color: #DDD;
}